<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="com.test.plugin.calendarPlugin"
      version="0.1.0">
    <name>calendarPlugin</name>
    <description>Sample calendarPlugin</description>
    <license>MIT</license>
    <keywords>phonegap,calendar</keywords>


    <js-module src="www/js/calendar.js" name="calendarPlugin">
        <clobbers target="window.calendarPlugin" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="calendarPlugin">
                <param name="android-package" value="com.test.plugin.calendarPlugin"/>
            </feature>
        </config-file>
		<config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
			<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
			<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
			<uses-permission android:name="android.permission.VIBRATE"/>
		</config-file>
        <source-file src="src/com/test/plugin/calendarPlugin.java" target-dir="src/com/test/plugin" />      
     </platform>          
</plugin>